.info {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-info {
  font-size: 14px;
  font-weight: 500;
  border: 0;
  color: var(--gray-shade-2);
  background-color: var(--light-blue-shade);
}
.user-info:focus {
  outline: none;
}
.label {
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
}
.edit-icon {
  position: absolute;
  right: 0;
  top: -8px;
  cursor: pointer;
}
