.continue-wth-email button {
  border: 0;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  color: var(--white);
}
.or {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #bab9d9;
  text-align: center;
  position: relative;
}
.or::before {
  content: "";
  width: 101px;
  border: 0.5px solid #71718f;
  position: absolute;
  left: 13%;
  top: 40%;
}
.or::after {
  content: "";
  width: 101px;
  border: 0.5px solid #71718f;
  position: absolute;
  right: 13%;
  top: 40%;
}
