.modal-custom-width {
  width: 376px;
}
.modal-title-cstm {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  flex: 2;
  display: flex;
  justify-content: center;
}

@media (max-width: 575px) {
  .modal-custom-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
