.ftr {
  display: flex;
  justify-content: space-between;
}
.ftr .review-badge {
  padding: 2px 8px 2px 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff8e2;
  border: 1px solid #ffecb5;
  border-radius: 6px;
}
.ftr .review-badge span:first-of-type {
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}
.ftr .review-badge span:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-shade-2);
}
.ftr .distance {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
