.form-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-controls label {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}
.form-controls input {
  padding: 15px 16px;
  width: 76px;
  height: 56px;
  border: 1px solid #ebeaff;
  border-radius: 8px;
  background-color: var(--light-blue-shade);
}
.form-controls input:focus {
  outline: 0;
}
.dnt-rcv {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}
.rsnd-code {
  padding: 0;
  border: 0;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 600;
  color: var(--primary);
}
.rsnd-code:focus {
  outline: 0;
}
.form-actions button {
  width: 100%;
  border: 0;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  margin-top: 87px;
}
